<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <ion-card class="ion-padding">
          <ion-row class="ion-nowrap">
            <ion-col class="title-col">
              <h5 class="title">注册设备</h5>
            </ion-col>
            <ion-col>
              <ion-fab-button class="close-btn" color="transparent">
                <ion-icon name="close"></ion-icon
              ></ion-fab-button>
            </ion-col>
          </ion-row>

          <ion-card-content class="ion-no-padding">
            <ion-item>
              <ion-label position="floating">设备ID</ion-label>
              <ion-input></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">设备密码</ion-label>
              <ion-input></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">确认密码</ion-label>
              <ion-input></ion-input>
            </ion-item>

            <div class="ion-text-center ion-padding-top">
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="3">
                  <ion-button
                    class="confirm-btn"
                    color="primary"
                    size="medium"
                    (tap)="goToDutyPage()"
                    >确定</ion-button
                  >
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
