ion-grid,
ion-row {
  height: 100%;
}

.confirm-btn {
  width: 100%;
}

.title-col {
  flex: 1 1 auto;
}

.title {
  margin: 0px;
}

.title-icon {
  margin-top: 10px;
}

.close-btn {
  --box-shadow: 0px;
  margin-top: -18px;
  margin-right: -18px;
}
