ion-grid,
ion-row {
  height: 100%;
}

.confirm-btn {
  width: 100%;
}

.close-btn {
  padding-left: 0px;
  padding-right: 0px;
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 50%;
  width: 54px;
  height: 54px;
}

.title {
  flex: 1 1 auto;
}

ion-card-title {
  line-height: 54px;
}
