<div class="ion-padding">
  <app-score-selector (change)="onScoreChange($event)"></app-score-selector>
  <ion-row class="actions  ion-padding-top ion-justify-content-center ion-align-items-center">
    <ion-col size="3" class="ion-padding-end">
      <ion-button expand="block" color="light" (tap)="cancel()">
        取消
      </ion-button>
    </ion-col>
    <ion-col size="3" class="ion-padding-start">
      <ion-button expand="block" color="primary" (tap)="ok()">
        确认
      </ion-button>
    </ion-col>
  </ion-row>
</div>
