.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

// padding left
.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

// padding right
.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

// padding bottom
.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}
