ion-fab-button {
  width: 36px;
  height: 36px;
}

.num-pad ion-col {
  flex: 0 1;
  padding: 5px;
}

.sum {
  font-size: 1.5rem;
  white-space: nowrap;
}

.unit {
  font-size: 1rem;
  line-height: 3rem;
}

ion-row {
  justify-content: center;
}

.math-sign {
  font-size: 1.5rem;
}

.score-input {
  width: 96px !important;
  border: 1px solid var(--ion-color-medium) !important;
  border-radius: 4px !important;
}
