<ion-row>
  <!-- integer -->
  <ion-col>
    <ion-grid class="num-pad">
      <ion-row class="ion-no-wrap" *ngFor="let outterItem of integerNums">
        <ion-col *ngFor="let innerItem of outterItem" size-xs="12" size-sm="4" size-md="3">
          <ng-container *ngIf="innerItem % 2 === 0; else elseTemplate">
            <ion-fab-button
              [color]="getIfIntegerSelected(innerItem) ? 'primary' : 'transparent'"
              (tap)="setIntegerPart(innerItem)"
            >
              <strong> {{ innerItem }} </strong>
            </ion-fab-button>
          </ng-container>
          <ng-template #elseTemplate>
            <ion-fab-button
              [color]="getIfIntegerSelected(innerItem) ? 'primary' : 'transparent'"
              (tap)="setIntegerPart(innerItem)"
            >
              {{ innerItem }}
            </ion-fab-button>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
  <!-- plus sign -->
  <ion-col class="shrink">
    <ion-row class="fill-height ion-justify-content-center ion-align-items-center">
      <ion-col class="shrink math-sign">
        +
      </ion-col>
    </ion-row>
  </ion-col>
  <!-- decimal -->
  <ion-col>
    <ion-grid class="num-pad">
      <ion-row class="ion-no-wrap" *ngFor="let outterItem of decimalNums">
        <ion-col *ngFor="let innerItem of outterItem" size-xs="12" size-sm="4" size-md="3">
          <ng-container *ngIf="(innerItem * 10) % 2 === 0; else elseTemplate">
            <ion-fab-button
              [color]="getIfDecimalSelected(innerItem) ? 'primary' : 'transparent'"
              (tap)="setDecimalPart(innerItem)"
            >
              <strong> {{ innerItem }} </strong>
            </ion-fab-button>
          </ng-container>
          <ng-template #elseTemplate>
            <ion-fab-button
              [color]="getIfDecimalSelected(innerItem) ? 'primary' : 'transparent'"
              (tap)="setDecimalPart(innerItem)"
            >
              {{ innerItem }}
            </ion-fab-button>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
  <!-- equal sign -->
  <ion-col class="shrink">
    <ion-row class="fill-height ion-justify-content-center ion-align-items-center">
      <ion-col class="shrink math-sign">
        =
      </ion-col>
    </ion-row>
  </ion-col>
  <!-- sum -->
  <ion-col class="ion-padding">
    <ion-row class="fill-height ion-justify-content-center ion-align-items-center">
      <ion-col class="sum">
        <ion-row class="ion-nowrap">
          <ion-col class="shrink">
            <ion-input
              class="score-input"
              [(ngModel)]="sum"
              (ionChange)="onChange()"
              (ionFocus)="onFocus()"
              type="number"
            ></ion-input>
          </ion-col>
          <ion-col class="unit shrink">分</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
