<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col class="grow">
          <ion-title>成都市xxx学校</ion-title>
        </ion-col>
        <ion-col class="shrink ion-padding-end">
          <ion-fab-button (tap)="goToCheckPasswordPage()" class="setting-btn" color="transparent">
            <ion-icon size="large" name="settings"> </ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
