<ion-app>
  <div *ngIf="authService.isBinding$ | async">
    <!-- <ion-toolbar> -->
    <ion-row class="top-header ion-padding">
      <ion-col class="grow title-wrapper ion-no-padding">
        <ion-text class="pl-10" color="medium">
          {{ school.school_name }}
        </ion-text>
      </ion-col>
      <ion-col class="shrink setting-btn-wrapper ion-no-padding">
        <ion-fab-button (tap)="goToCheckPasswordPage()" class="setting-btn" color="transparent">
          <ion-icon size="medium" name="settings" color="medium"> </ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
    <!-- </ion-toolbar> -->
  </div>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
