<ion-app>
  <ion-header *ngIf="authService.isBinding$ | async">
    <ion-toolbar>
      <ion-row>
        <ion-col class="grow title-wrapper">
          <ion-title>{{ school.school_name }}</ion-title>
        </ion-col>
        <ion-col class="shrink ion-padding-end setting-btn-wrapper">
          <ion-fab-button (tap)="goToCheckPasswordPage()" class="setting-btn" color="transparent">
            <ion-icon size="large" name="settings"> </ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
