<ion-content>
  <ion-card>
    <ion-grid class="ion-padding">
      <!-- header -->
      <ion-row class="header text-center ion-padding ">
        <ion-col>
          时间
        </ion-col>

        <ion-col>
          班级
        </ion-col>

        <ion-col>
          扣分
        </ion-col>

        <ion-col>
          描述
        </ion-col>

        <ion-col>
          状态
        </ion-col>
        <div class="header-divider"></div>
      </ion-row>

      <ion-row *ngFor="let dutyHistory of dutyHistoryList" class="text-center ion-padding">
        <ion-col>
          <ion-row>
            <ion-col>
              <span class="time">
                {{ getTime(dutyHistory.createTime) }}
              </span>
            </ion-col>
            <ion-col> {{ getDate(dutyHistory.createTime) }} </ion-col>
          </ion-row>
        </ion-col>

        <ion-col>
          {{ dutyHistory.className }}
        </ion-col>

        <ion-col>
          {{ dutyHistory.changeScore }}
        </ion-col>

        <ion-col>
          <ion-row class="ion-wrap clickable" (tap)="openImgViewer(dutyHistory.describeList)">
            <ion-col *ngFor="let img of dutyHistory.describeList" class="img-wrapper">
              <img [src]="img" class="image" />
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col>
          <ng-container *ngIf="dutyHistory.status === 0; else elseTemplate">
            <ion-button *ngIf="dutyHistory.status === 0" fill="clear">
              <span style="padding-right: 5px;">
                点击上传
              </span>
              <ion-icon
                *ngIf="dutyHistory.status === 0"
                size="large"
                name="cloud-upload"
              ></ion-icon>
            </ion-button>
          </ng-container>
          <ng-template #elseTemplate>
            已上传
          </ng-template>
        </ion-col>
        <ion-item-divider> </ion-item-divider>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div class="sliders-wrapper" *ngIf="showImgViewer" @slideScaleAnim>
    <ion-slides class="sliders" pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let img of slideImgs" (tap)="tapSlideImg()">
        <img [src]="img" class="slide-img" />
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
