.container {
  --ion-grid-padding: 0;
  height: 100%;
}

.wrapper {
  height: 100%;
}

.duty-slides {
  height: 100%;
  overflow-y: auto;
}

.right {
  position: relative;
}

.camera-btn {
  --background: var(--transparent);
}

.rule-description {
  font-size: 0.8rem;
}

.operation-btn {
  --color: #424244;
  --box-shadow: unset;
  padding-left: 0px;
  padding-right: 0px;
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 50%;
  width: 54px;
  height: 54px;
}

ion-slides ion-card {
  margin: 0px;
}

.target-col {
  min-width: 64px;
}

.label {
  font-size: 16px;
}

.standard-col {
  line-height: 180%;
  max-width: 500px;
}

.target-head-col {
  min-width: 64px;
}

.score-head-col,
.camera-head-col,
.index-head-col {
  min-width: 68px;
}

.head-text {
  color: var(--ion-color-dark-tint);
}

.actions {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 2000;
}

.card {
  width: 100%;
}

.current-class,
.current-category {
  color: var(--ion-color-primary);
}

.score-text {
  color: var(--ion-color-primary);
}

.action-btn-wrapper {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.img-wrapper {
  padding: 2px;
}

.image {
  width: 100%;
  min-width: 16px;
  max-width: 32px;
}

.sliders-wrapper {
  position: absolute;
  top: 0px;
  z-index: 4990;
  width: 100%;
  height: 100%;
  background: white;
}

.sliders {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 5000;
}
