<ion-content>
  <ion-grid class="container">
    <ion-row class="ion-nowrap">
      <!-- left -->
      <ion-col class="left shrink" style="max-width: unset !important;">
        <div>
          <ion-list>
            <ion-item (tap)="openSelectGrade($event)" button>
              <ion-label class="pr-10">
                {{ currentGrade.label }}
              </ion-label>
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-item>
            <ion-item [hidden]="true">
              <ion-label>{{ gradeValue }}</ion-label>
              <ion-select
                [(ngModel)]="gradeValue"
                (ionChange)="onGradeChange($event)"
                interface="popover"
                #gradeSelect
              >
                <ion-select-option *ngFor="let grade of grades" [value]="grade.value">
                  {{ grade.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item
              *ngFor="let aclass of currentGrade.classes"
              [color]="currentClass.value === aclass.value ? 'primary' : ''"
              button
              (tap)="setClass(aclass)"
              class="class-item"
            >
              <ion-label>{{ aclass.label }}</ion-label>
              <ion-icon *ngIf="currentClass.value === aclass.value" name="checkmark"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
      <!-- right -->
      <ion-col class="right" style="max-width: unset !important;">
        <ion-slides pager="true" [options]="slideOpts" class="duty-slides">
          <ion-slide *ngFor="let category of deductionCatogoryListModified">
            <ion-grid class="ion-padding">
              <ion-row>
                <ion-col>
                  <ion-row class="category-and-fullname">
                    <ion-col>
                      <div *ngIf="currentClassFullName" class="current-class text-center">
                        {{ currentClassFullName ? currentClassFullName : '没有选择班级' }}
                      </div>
                    </ion-col>
                    <ion-col class="text-center current-category">
                      {{ category.category }}
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <!-- deduction option header -->
              <ion-row class="text-center ion-padding">
                <ion-col class="shrink index-head-col">
                  <div class="head-text">序号</div>
                </ion-col>
                <ion-col class="grow">
                  <div class="head-text">扣分标准</div>
                </ion-col>
                <ion-col class="shrink score-head-col">
                  <div class="head-text">分值</div>
                </ion-col>
                <ion-col class="shrink camera-head-col">
                  <div class="head-text">快照</div>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let option of category.deductionOptions" class="ion-padding-top">
                <!-- deduction card -->
                <ion-card class="card ion-padding">
                  <!-- card content -->
                  <ion-row class="ion-wrap">
                    <!-- index -->
                    <ion-col class="target-col shrink">
                      <div class="label">{{ option.deductionOption.label }}</div>
                    </ion-col>
                    <!-- standard -->
                    <ion-col class="grow standard-col">
                      <p class="rule-description ion-no-margin">
                        {{ option.deductionOption.rule }}
                      </p>
                    </ion-col>
                    <!-- score -->
                    <ion-col class="shrink">
                      <div>
                        <ion-button
                          class="operation-btn"
                          color="light"
                          (tap)="openSelectScorePopover(option)"
                        >
                          <ion-icon color="darkgrey" name="create" size="large"> </ion-icon>
                        </ion-button>
                      </div>
                      <div class="text-center p-10">{{ option.score ? option.score : 0 }} 分</div>
                    </ion-col>
                    <!-- take pictures -->
                    <ion-col class="shrink">
                      <ion-button class="operation-btn" color="light">
                        <ion-icon color="darkgrey" size="large" name="camera"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="option.score !== 0" class="ion-justify-content-center">
                    <ion-col size="4" style="padding: 0px;">
                      <ion-button
                        fill="outline"
                        expand="block"
                        color="primary"
                        (tap)="submit(option)"
                      >
                        提交
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
