<ion-content class="duty-page">
  <ion-grid class="container">
    <ion-row class="ion-nowrap wrapper ion-justify-content-center">
      <!-- left -->
      <ion-col class="left" size="3">
        <div (click)="openSelectGrade($event)" class="p-10">
          <!-- <ion-label class="pa-0"> -->
          {{ currentGrade.grade }}
          <!-- </ion-label> -->
          <span class="pl-20"> <ion-icon name="arrow-dropdown"></ion-icon></span>
        </div>
        <ion-list class="ion-no-padding">
          <ion-item [hidden]="true">
            <ion-select
              [(ngModel)]="currentGrade"
              interface="popover"
              #gradeSelect
              (ionChange)="onGradeChange($event)"
            >
              <ion-select-option *ngFor="let grade of grades" [value]="grade">
                {{ grade.grade }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item
            *ngFor="let aclass of currentGrade.classList"
            [color]="currentClass.name === aclass.name ? 'primary' : ''"
            button
            (tap)="setClass(aclass)"
            class="class-item"
          >
            <ion-label>{{ aclass.name }}</ion-label>
            <ion-icon *ngIf="currentClass.name === aclass.name" name="checkmark"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- right -->
      <ion-col class="right" size="9">
        <!-- class fullname and deduction option name -->
        <ion-row>
          <ion-col>
            <div class="header-wrapper">
              <!-- <ion-row class="category-and-fullname"> -->
              <!-- <ion-col> -->
              <span *ngIf="currentClassFullName" class="current-class text-center ">
                {{ currentClassFullName ? currentClassFullName : '没有选择班级' }}
              </span>
              <!-- </ion-col> -->
              <!-- <ion-col class="text-center current-category"> -->
              <span class="current-item-name"> {{ currentItem.check_name }} </span>
              <!-- </ion-col> -->
              <!-- </ion-row> -->
            </div>
          </ion-col>
        </ion-row>
        <ion-slides
          #slides
          pager="true"
          [options]="slideOpts"
          class="duty-slides"
          (ionSlideDidChange)="onSlideChange()"
        >
          <ion-slide *ngFor="let item of checkItems">
            <ion-grid class="ion-padding">
              <!-- deduction option header -->
              <ion-row class="text-center ion-padding">
                <ion-col class="shrink index-head-col">
                  <div class="head-text">序号</div>
                </ion-col>
                <ion-col class="grow">
                  <div class="head-text">扣分标准</div>
                </ion-col>
                <ion-col class="shrink score-head-col">
                  <div class="head-text">分值</div>
                </ion-col>
                <ion-col class="shrink camera-head-col">
                  <div class="head-text">快照</div>
                </ion-col>
              </ion-row>
              <ion-row
                *ngFor="let subItem of item.checkSubItems; let subItemIndex = index"
                class="ion-padding-top"
              >
                <!-- deduction card -->
                <ion-card class="card ion-padding">
                  <!-- card content -->
                  <ion-row class="ion-wrap">
                    <!-- index -->
                    <ion-col class="target-col shrink">
                      <div class="label">{{ subItemIndex + 1 }}</div>
                    </ion-col>
                    <!-- standard -->
                    <ion-col class="grow standard-col">
                      <p class="rule-description ion-no-margin">
                        {{ subItem.name }}
                      </p>
                    </ion-col>
                    <!-- score -->
                    <ion-col class="shrink">
                      <div>
                        <ion-button
                          class="operation-btn"
                          color="light"
                          (tap)="openSelectScorePopover(subItem)"
                        >
                          <ion-icon color="darkgrey" name="create" size="large"> </ion-icon>
                        </ion-button>
                      </div>
                      <div class="text-center p-10" *ngIf="subItem.scoreChange">
                        {{ subItem.scoreChange ? '-' + subItem.scoreChange : 0 }} 分
                      </div>
                    </ion-col>
                    <!-- take pictures -->
                    <ion-col class="shrink">
                      <div>
                        <ion-button
                          class="operation-btn"
                          color="light"
                          (tap)="showActionSheet(subItem)"
                        >
                          <ion-icon color="darkgrey" size="large" name="camera"></ion-icon>
                        </ion-button>
                      </div>
                      <div>
                        <ion-col>
                          <ion-row
                            class="ion-wrap clickable ion-justify-content-center"
                            (tap)="openImgViewer(subItem.addressList)"
                          >
                            <ion-col
                              *ngFor="let img of subItem.addressList"
                              class="img-wrapper shrink"
                            >
                              <img [src]="img" class="image" />
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ng-container *ngFor="let scoreItem of getSubItemScoreHistory(subItem)">
                        <ion-chip outline="true" class="non-clickable">
                          <ion-label color="danger"> {{ scoreItem.change_score }}分</ion-label>
                        </ion-chip>
                      </ng-container>
                    </ion-col>
                    <ion-col class="shrink" *ngIf="getSubItemScoreHistory(subItem).length > 0">
                      <ion-button fill="clear" (tap)="openWeekHistoryModal(subItem)">
                        查看本周扣分记录
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row
                    *ngIf="subItem.scoreChange && subItem.scoreChange !== 0"
                    class="ion-justify-content-center"
                  >
                    <ion-col size="4" class="action-btn-wrapper">
                      <ion-button expand="block" color="light" (tap)="clear(item, subItem)">
                        清空
                      </ion-button>
                    </ion-col>
                    <ion-col size="4" class="action-btn-wrapper">
                      <ion-button expand="block" color="primary" (tap)="submit(item, subItem)">
                        提交
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="sliders-wrapper" *ngIf="showImgViewer" @slideScaleAnim>
    <ion-slides class="sliders" pager="true" [options]="imageViewerslideOpts">
      <ion-slide *ngFor="let img of slideImgs" (tap)="tapSlideImg()">
        <img [src]="img" class="slide-img" />
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
