ion-card {
  width: 100%;
}

.rule-description {
  font-size: 0.8rem;
}

.target-col {
  min-width: 64px;
}

.label {
  font-size: 16px;
}

.standard-col {
  line-height: 180%;
  max-width: 500px;
}

.target-head-col {
  min-width: 64px;
}

.head-text {
  color: rgb(180, 180, 180);
}

.list-label {
  font-size: 1rem;
}

.selected {
  border: 1px solid #3880ff;
  border-radius: 4px;
}

.actions {
  display: flex;
  // top: 0px;
  // position: fixed;
  width: 100%;
  align-items: flex-end;
}
