// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './theme/light.theme.scss';
@import './styles/spacing.scss';
@import './styles/color.scss';
@import './styles/layout.scss';
@import './styles/typo.scss';
@import './styles/util.scss';

.select-score-popover .popover-content {
  width: 90%;
  max-width: 800px;
}

.select-duty-popover .popover-content {
  height: 90%;
  width: 90%;
  max-width: 800px;
}

.duty-slides .swiper-pagination {
  position: fixed;
  top: 0px !important;
  bottom: unset !important;
  z-index: 3000;
  padding: 10px !important;
}

.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger) !important;
}
